.main {
    display: flex;
    height: 100vh;
}

#root {
    height: 100%;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(137, 166, 170, 0.849);
    transition: all .5s;
}
.sidebar.isNotOpen {
    width: 60px;
}
.sidebar.isNotOpen .logo{
    display: none;
}
.sidebar .top-section {
    display: flex;
    align-items: center;
    padding: .65em 1em;
    justify-content: space-between;
}
.sidebar.isNotOpen .top-section .bars {
    margin-left: -1px;
}
.sidebar.isNotOpen .sidebar-item span {
    display: none;
}
.sidebar.isNotOpen .sidebar-item {
    padding-left: 5px;
    padding-right: 5px;
}
.sidebar .top-section .logo {
    font-size: 30px;
    margin-bottom: 0;
}
.sidebar .top-section .bars {
    display: flex;
    font-size: 30px;
    margin-left: .80rem;
    cursor: pointer;
}
.sidebar-item {
    padding: .45em 1em;
    font-size: 1.2rem;
    display: block;
    transition: all .3s;
}
.sidebar-content .sidebar-item {
    border-radius: 5px;
}
.sidebar-item:hover,
.sidebar-item.active {
    background-color: rgb(151, 151, 151);
    transition: all .2s;
}
.sidebar-title {
    display: flex;
    justify-content: space-between;
}
.sidebar-title svg {
    display: inline-block;
    width: 1.5em;
}
.sidebar-title .toggle-btn {
    cursor: pointer;
    transition: transform .40s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
    transform: rotate(180deg);
}
.sidebar-content {
    padding: .25em;
    height: 0;
    overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
    height: auto;
}
.sidebar-item.open > .sidebar-content:hover {
    background-color: rgb(180, 180, 180);
}
.sidebar-title span svg, .sidebar-item.sidebar-item.plain svg {
    display: inline-block;
    width: 1.75em;
}

.sidebar-item.plain {
    font-size: 16px;
    color: rgb(236, 236, 236);
    text-decoration: none;
}
.sidebar-item.plain svg {
    display: inline-block;
    width: 1.7em;
}
.sidebar-item.plain:hover {
    cursor: pointer;
    text-decoration: underline;
}