.main {
    display: flex;
    height: 100vh;
}

#root {
    height: 100%;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(137, 166, 170, 0.849);
    transition: all .5s;
}
.sidebar.isNotOpen {
    width: 60px;
}
.sidebar.isNotOpen .logo{
    display: none;
}
.sidebar .top-section {
    display: flex;
    align-items: center;
    padding: .65em 1em;
    justify-content: space-between;
}
.sidebar.isNotOpen .top-section .bars {
    margin-left: -1px;
}
.sidebar.isNotOpen .sidebar-item span {
    display: none;
}
.sidebar.isNotOpen .sidebar-item {
    padding-left: 5px;
    padding-right: 5px;
}